<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" type="image/x-icon" href="/static/image/logo.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {#简单的适配页面#}
    <title>search</title>
</head>
<body>
<form method='get' action="" target="_blank">
    <input type="text" name="q">
    <input type="submit" value="查询">
</form>
{% if query %}
    <h3>搜索结果如下：</h3>
    {% for result in page.object_list %}
        <a href="/{{ result.object.id }}/">{{ result.object.content }}</a><br/>
    {% empty %}
        <p>啥也没找到</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
        |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endif %}
<footer id="footer" class="footer">
    <div class="footer-inner">
        <div class="copyright">
             ©  2017 -
            <span itemprop="copyrightYear">2018</span>
            <span class="with-love">
                <i class="fa fa-heart"></i>
            </span>
            <span class="author" itemprop="copyrightHolder">geerniya</span>
        </div>
        <div class="powered-by">
            豫ICP备18002345号-1
        </div>
        <div class="theme-info">
            Supported by <a href="https://www.aliyun.com/">阿里云</a>
        </div>
    </div>
</footer>
</body>
</html>
